.adminbody {
    margin: 10px;
    padding: 0px;
    display: flex;
    display: grid;
    place-items: center;
}


.adminContainer {
    margin: 0px;
    width: 1600px;
    text-align: center;

}

.admincommentContainer {
    margin: 0px;
    width: 1350px;
    text-align: center;
    /* background-color: red; */
}



.admincHeadline {
    display: flex;
    align-items: center; /* 垂直居中 */
    justify-content: center;
    font-size: 22px;
    font-weight: bold;
    height: 50px;
    width: 1300px;
    margin: 0;
    background-color: #f08170;
    color: white;
    text-align: center; /* 水平居中 */
}

.adminHeadline {
    display: flex;
    align-items: center; /* 垂直居中 */
    justify-content: center;
    font-size: 22px;
    font-weight: bold;
    height: 50px;
    width: 100%;
    margin: 0;
    background-color: #f08170;
    color: white;
    text-align: center; /* 水平居中 */
}


.adminTable {
    display: block;
    width: 100%;
    /* background-color: blue; */
}

.adminTh {
    font-size: 16px;
    font-weight: bold;
    background-color: #C8B2D6;
    color: white;
    height: 30px;
}

.adminTrheigh td {
    background-color: white;
    border: lightgray 1px solid;
    height: 60px;
    overflow: hidden;
    word-wrap: break-word;
    line-height: 20px;
    /* 设置你想要的行高值 */
}

.superTrheigh td {
    background-color: white;
    border: lightgray 1px solid;
    height: 45px;
    overflow: hidden;
    word-wrap: break-word;
    line-height: 20px;
    /* 设置你想要的行高值 */
}

.adminID {
    width: 80px;
    /* background-color: blue; */
    height: 60px;
}

.superID{
     width: 85px;
    /* background-color: blue; */
    height: 45px;
}

.adminTitle {
    width: 300px;
    /* background-color: aquamarine; */

}

.superEmail{
    width: 280px;
}

.superTime{
    width: 210px;
}


.adminText {
    width: 800px;
    /* background-color: aquamarine; */
}

.adminopeate {
    width: 234px;
    /* background-color: aquamarine; */
}


.adminTitlecon {
    width: 300px;
    /* background-color: aquamarine; */
    text-align: left;
    overflow: hidden;
    word-wrap: break-word;
}

.adminTextcon {
    width: 800px;
    /* background-color: aquamarine; */
    height: 70px;
    overflow: hidden;
    word-wrap: break-word;
    line-height: 20px;
    /* 设置你想要的行高值 */
    text-align: left;
}

.superTextcon {
    /* background-color: aquamarine; */
    height: 45px;
    overflow: hidden;
    word-wrap: break-word;
    line-height: 20px;
    /* 设置你想要的行高值 */
    text-align: left;
}

.adminTextcon img {
    width: 120px;
    height: 70px;
}

.adminlink{
    text-decoration: none; /* 去掉下划线 */
    color: inherit; /* 使用父元素的文本颜色 */
}

.adminBtn {
    margin-left: 10px;
    width: 78px;
    height: 28px;
    flex-shrink: 0;
    border-radius: 14px;
    border: none;
    background: var(--pink-300, #FEA7AD);
    color: white;
}

.adminBtn:hover {
    background-color: #C8B2D6;
}

.sortBtn {
    background-color: #E6C75B;
    border: none;
    border-radius: 5px;
    margin-left: 5px;
    padding: 5px 5px;
    margin-right: 5px;
    cursor: pointer;
    color: white;
  }

  .sortdelterBtn {
    background-color: #f08170;
    border: none;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px 5px;
    cursor: pointer;
    color: white;
  }

  .superselect{
    background-color: white;
    border: 1px solid white;
    padding: 5px 5px;
    border-radius: 5px;
    font-size: 16px;
  }