footer {
    width: 100%;
    color: white;
    z-index: 50;
    display: flex;
    min-height: 80px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    background-color: var(--colorPurple);
}