header {
    display: flex;
    justify-content: space-between;
    background-color: var(--colorPurple);
}

header>div {
    display: flex;
    align-items: center;
}

.logo {
    width: 3.75rem;
    margin-left: 2.625rem;
    border-radius: var(--circle);
}

.whisper {
    color: white;
    font-size: 1.75rem;
    font-weight: bold;
    margin-left: 0.5rem;
}

.ddBtn {
    width: 12.125rem;
    color: var(--colorGray200);
    height: 2.5rem;
    border: 1px solid var(--colorPink200);
    display: flex;
    position: relative;
    font-size: 1rem;
    align-items: center;
    margin-left: 5.6875rem;
    border-radius: var(--radius);
    justify-content: space-between;
    background-color: white;
}

.ddArrow {
    width: 1.25rem;
}

.ddItem {
    top: 2.5rem;
    left: -0.08rem;
    width: 12.125rem;
    display: none;
    position: absolute;
    font-size: 1.25rem;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    line-height: 2rem;
    border-radius: var(--radius);
    letter-spacing: 0.75rem;
    background-color: white;
}

.ddItem a {
    color: var(--colorGray200);
    display: block;
}

.ddItem a:hover {
    color: white;
    border-radius: var(--radius);
    background-color: var(--colorRed);
}

.ddBtn:hover .ddItem {
    display: block;
}

.userImg {
    width: 2.875rem;
    height: 2.875rem;
    margin-right: 0.4375rem;
    border-radius: var(--circle);
    background-color: white;
    object-fit: cover;
}

.userName {
    display: inline-block;
    min-width: 5rem;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}

.userArrow {
    width: 1.25rem;
}

header a {
    text-decoration: none;
}

/* - - - - - - - - - - */

.userBtn {
    width: 8rem;
    height: 100%;
    border: none;
    position: relative;
    background-color: transparent;
}

.userItem {
    top: 5rem;
    left: -10rem;
    width: 17.0625rem;
    height: 39.6875rem;
    display: none;
    position: absolute;
    font-size: 1.25rem;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    text-align: start;
    line-height: 2rem;
    padding: 2rem 0rem 10rem 2rem;
    letter-spacing: 0.5rem;
    background-color: white;
}

.userItem a {
    color: black;
    display: block;
}

.userItem a:hover {
    color: var(--colorPurple);
    border-radius: var(--radius);
}

.userBtn:hover .userItem {
    display: block;
}

.userItem>hr {
    margin-top: 26rem;
}

.myImg {
    width: 30px;
    vertical-align: top;
}

.secret {
    width: 40px;
    vertical-align: top;
    margin-right: 2rem;
    animation: heartBeat;
    animation-duration: 2s;
}

.headerSecret {
    background-color: var(--colorPurple);
    border: none;
}

.grayMail {
    width: 40px;
    vertical-align: top;
    margin-right: 2rem;
}

.loginCss {
    display: inline-block;
    text-align: center;
    width: 8rem;
    color: white;
    font-weight: bold;
    font-size: larger;
}