/* 旋轉信箱 */
.left {
    float: left;
}

.right {
    float: right;
}

.perspective {
    perspective: 1200px;
    -webkit-perspective: 1200px;
    font-family: arial;
    background: #fff;
    min-height: 80vh;
}

.tardis-wrap {
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform: translateZ(-300px);
    -webkit-transform: translateZ(-300px);
}

.tardis {
    position: relative;
    width: 200px;
    margin: 100px auto;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    transform: rotateX(-20deg) rotateY(-30deg);
    -webkit-transform: rotateX(-20deg) rotateY(-30deg);
    animation-name: spin;
    animation-duration: 40000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform: rotateX(-20deg) rotateY(0deg);
    }

    to {
        transform: rotateX(-20deg) rotateY(360deg);
    }
}

/* Begin details */
.tardis .side {
    position: absolute;
    bottom: -230px;
    left: 0px;
    width: 200px;
    height: 180px;
    box-shadow: inset 20px 0 0 #EDD2E0, inset -20px 0 0 #EDD2E0, inset 0 10px 0 #EDD2E0, inset 0 -10px 0 #EDD2E0;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    z-index: 1;
}

.side:nth-of-type(1) {
    transform: translateZ(100px);
    -webkit-transform: translateZ(100px);
}

.side:nth-of-type(2) {
    transform: rotateY(90deg) translateZ(100px);
    -webkit-transform: rotateY(90deg) translateZ(100px);
}

.side:nth-of-type(3) {
    transform: rotateY(180deg) translateZ(100px);
    -webkit-transform: rotateY(180deg) translateZ(100px);
}

.side:nth-of-type(4) {
    transform: rotateY(-90deg) translateZ(100px);
    -webkit-transform: rotateY(-90deg) translateZ(100px);
}

/* Floor */
.tardis .floor {
    position: absolute;
    width: 220px;
    height: 220px;
    left: -10px;
    top: 230px;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
}

.floor-lid {
    position: absolute;
    width: 220px;
    height: 220px;
    background-color: #D496A7;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform: rotateX(90deg) translateZ(109px);
    -webkit-transform: rotateX(90deg) translateZ(109px);
}

.floor-panel {
    position: absolute;
    width: 220px;
    height: 10px;
    background-color: #D496A7;
    box-shadow: inset 1px 0 0 #B95F89, inset -1px 0 0 #B95F89, inset 0 1px 0 #B95F89, inset 0 -1px 0 #B95F89;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
}

.floor-panel.a {
    transform: rotateY(0deg) translateZ(110px);
    -webkit-transform: rotateY(0deg) translateZ(110px);
}

.floor-panel.b {
    transform: rotateY(90deg) translateZ(110px);
    -webkit-transform: rotateY(90deg) translateZ(110px);
}

.floor-panel.c {
    transform: rotateY(180deg) translateZ(110px);
    -webkit-transform: rotateY(180deg) translateZ(110px);
}

.floor-panel.d {
    transform: rotateY(-90deg) translateZ(110px);
    -webkit-transform: rotateY(-90deg) translateZ(110px);
}

/* Top sign */
.side .top-sign {
    width: 180px;
    height: 28px;
    background-color: #A6B1E1;
    border: solid 1px white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .4);
    border-radius: 2px;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 10;
}

.top-sign .text {
    background-color: #DEC5E3;
    border: solid 1px white;
    border-radius: 2px;
    width: 100px;
    margin: 3px auto;
    height: 20px;
    color: #fff;
    font-size: 12px;
    line-height: 20px;
    padding: 0px 5px;
    box-shadow: inset 0px 0px 3px rgba(0, 0, 0, .4);
    position: relative;
    text-shadow: 0px 0px 4px rgba(255, 255, 255, .6);
}

.text .tiny {
    font-size: 4px;
    line-height: 6px;
    text-align: center;
    width: 20px;
    position: absolute;
    right: 35px;
    top: 4px;
}

/* Door frame */
.side .door-frame {
    position: absolute;
    width: 160px;
    left: 20px;
    top: 35px;
    bottom: 0px;
    background-color: #A6B1E1;
    box-shadow: inset 0px 2px 8px rgba(0, 0, 0, .5);
    z-index: 5;
    background-clip: text;
}

/* Window */
.door .window {
    position: absolute;
    left: -20px;
    bottom: 0px;
    width: 200px;
    height: 25px;
    background-color: #B95F89;
}

.window .pane {
    width: 130px;
    height: 100px;
    float: left;
    position: absolute;
    top: -110px;
    left: 30px;
    border: 5px solid rgb(185, 95, 137, 0.5);
    box-shadow: inset 0px 0px 10px #fff;
}

.chooseBtn {
    color: white;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    transition: all 0.2s ease;
    padding: 12px 20px;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%);
    background-color: transparent;
    border: none;
}

.chooseBtn:before {
    content: "";
    position: absolute;
    top: -0.5rem;
    left: 0;
    display: block;
    border-radius: 28px;
    background: #D496A7;
    width: 56px;
    height: 56px;
    transition: all 0.3s ease;
    border: white 1px solid;
}

.chooseBtn span {
    position: relative;
    z-index: 1;
}

.chooseBtn svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: white;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}

.chooseBtn:hover:before {
    width: 100%;
    background: #D496A7;
}

.chooseBtn:hover svg {
    transform: translateX(0);
}

.chooseBtn:hover,
.chooseBtn:focus {
    color: white;
}

.chooseBtn:active {
    color: white;
    transform: scale(0.96);
}

.chooseBtnF:before {
    background: var(--colorGray300);
}

.chooseBtnF:hover:before {
    background: var(--colorGray300);
}

.pen {
    width: 50px;
    float: right;
    position: fixed;
    right: 20px;
    bottom: 20px;
    background-color: aliceblue;
    border-radius: var(--circle);
}

.pen:active {
    transform: scale(0.96);
}

/* - - - - - - - - - - */
/* 寫秘密 */
.popWrite {
    width: 800px;
    height: 500px;
    background-color: #EDD2E0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: var(--radius);
    animation: animate__zoomOut;
    animation-duration: 1000s;
}

.writeClose {
    width: 50px;
    height: 50px;
    float: right;
    position: absolute;
    right: 0px;
    top: 10px;
}

.leftright {
    height: 4px;
    width: 30px;
    position: absolute;
    margin-top: 24px;
    background-color: white;
    border-radius: 2px;
    transform: rotate(45deg);
    transition: all 0.3s ease-in;
}

.rightleft {
    height: 4px;
    width: 30px;
    position: absolute;
    margin-top: 24px;
    background-color: white;
    border-radius: 2px;
    transform: rotate(-45deg);
    transition: all 0.3s ease-in;
}

.writeClose>label {
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 0.6em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all 0.3s ease-in;
    opacity: 0;
    margin: 50px 0 0 -35px;
    position: absolute;
}

.writeClose:hover .leftright {
    transform: rotate(-45deg);
    background-color: #B95F89;
}

.writeClose:hover .rightleft {
    transform: rotate(45deg);
    background-color: #B95F89;
}

.writeClose:hover label {
    opacity: 1;
}

.popWrite h2 {
    margin-top: 3rem;
    color: #B95F89;
}

.writeSecrat {
    width: 80%;
    height: 60%;
    font-size: large;
    padding: 0.3rem 0.6rem;
    border-radius: var(--radius);
}

.writeQuestion {
    width: 80%;
    font-size: x-large;
    margin-top: 1rem;
    padding: 0.3rem 0.6rem;
    border-radius: var(--radius);
    height: 1.5rem;
}

@-webkit-keyframes extend {
    0% {
        width: 6rem;
        height: 3rem;
        border-radius: 100px;
    }

    10% {
        width: 6.1rem;
        height: 3.1rem;
        background: #fff;
        margin-left: - 5px;
        margin-top: - 5px;
    }

    20% {
        width: 6rem;
        height: 3rem;
        background: #6fb07f;
        margin-left: 0px;
        margin-top: 0px;
    }

    100% {
        width: 3rem;
        height: 3rem;
        border-radius: 100px;
        margin-left: 190px;
        background: #6fb07f;
    }
}

@keyframes extend {
    0% {
        width: 6rem;
        height: 3rem;
        border-radius: 100px;
    }

    10% {
        width: 6.1rem;
        height: 3.1rem;
        background: #fff;
        margin-left: - 5px;
        margin-top: - 5px;
    }

    20% {
        width: 6rem;
        height: 3rem;
        background: #6fb07f;
        margin-left: 0px;
        margin-top: 0px;
    }

    100% {
        width: 3rem;
        height: 3rem;
        border-radius: 100px;
        margin-left: 1rem;
        background: #6fb07f;
    }
}

@-webkit-keyframes disappear {
    0% {
        opacity: 1;
    }

    20% {
        color: #fff;
    }

    100% {
        opacity: 0;
    }
}

@keyframes disappear {
    0% {
        opacity: 1;
    }

    20% {
        color: #fff;
    }

    100% {
        opacity: 0;
    }
}

@-webkit-keyframes appear {
    0% {
        opacity: 0;
    }

    70% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }

    70% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.green {
    position: absolute;
    bottom: -4rem;
    border-width: 1px;
    width: 6rem;
    height: 3rem;
    border-radius: 100px;
    background: #fff;
    position: absolute;
    border: 5px solid #6fb07f
}

.green>span {
    font-size: x-large;
    font-weight: bold;
    color: #6fb07f
}

.green>img {
    position: absolute;
    top: 0;
    left: -10px;
    right: 0;
    bottom: 0;
    margin: auto;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0
}

.green:focus {
    /*animation*/
    -webkit-animation: extend 1s ease-in-out;
    -ms-animation: extend 1s ease-in-out;
    animation: extend 1s ease-in-out;
    -webkit-animation-fill-mode: forwards;
    /* Chrome, Safari, Opera */
    animation-fill-mode: forwards
}

.green:focus>span {
    /*animation*/
    -webkit-animation: disappear 1s ease-in-out;
    -ms-animation: disappear 1s ease-in-out;
    animation: disappear 1s ease-in-out;
    -webkit-animation-fill-mode: forwards;
    /* Chrome, Safari, Opera */
    animation-fill-mode: forwards
}

.green:focus>img {
    /*animation*/
    -webkit-animation: appear 1s ease-in-out;
    -ms-animation: appear 1s ease-in-out;
    animation: appear 1s ease-in-out;
    -webkit-animation-fill-mode: forwards;
    /* Chrome, Safari, Opera */
    animation-fill-mode: forwards
}

/* - - - - - - - - - - */

/* 選秘密 */

.letter-border>p {
    position: absolute;
    top: 40px;
}

.popChoose {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 25%;
    left: 10%;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
}

.letter-image {
    margin-right: 50px;
    width: 200px;
    height: 250px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.animated-mail {
    position: absolute;
    height: 150px;
    width: 200px;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    transition: 0.4s;
}

.animated-mail .body {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 100px 200px;
    border-color: transparent transparent #e95f55 transparent;
    z-index: 2;
}

.animated-mail .top-fold {
    position: absolute;
    top: 50px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50px 100px 0 100px;
    -webkit-transform-origin: 50% 0%;
    -webkit-transition: transform 0.4s 0.4s, z-index 0.2s 0.4s;
    -moz-transform-origin: 50% 0%;
    -moz-transition: transform 0.4s 0.4s, z-index 0.2s 0.4s;
    transform-origin: 50% 0%;
    transition: transform 0.4s 0.4s, z-index 0.2s 0.4s;
    border-color: #cf4a43 transparent transparent transparent;
    z-index: 2;
}

.animated-mail .back-fold {
    position: absolute;
    bottom: 0;
    width: 200px;
    height: 100px;
    background: #cf4a43;
    z-index: 0;
}

.animated-mail .left-fold {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50px 0 50px 100px;
    border-color: transparent transparent transparent #e15349;
    z-index: 2;
}

.animated-mail .letter {
    left: 20px;
    bottom: 0px;
    position: absolute;
    width: 160px;
    height: 60px;
    background: white;
    z-index: 1;
    overflow: hidden;
    -webkit-transition: 0.4s 0.2s;
    -moz-transition: 0.4s 0.2s;
    transition: 0.4s 0.2s;
}

.animated-mail .letter .letter-border {
    height: 10px;
    width: 100%;
    background: repeating-linear-gradient(-45deg, #cb5a5e, #cb5a5e 8px, transparent 8px, transparent 18px);
}

.animated-mail .letter .letter-title {
    margin-top: 10px;
    margin-left: 5px;
    height: 10px;
    width: 40%;
    background: #cb5a5e;
}

.animated-mail .letter .letter-context {
    margin-top: 10px;
    margin-left: 5px;
    height: 10px;
    width: 20%;
    background: #cb5a5e;
}

.animated-mail .letter .letter-stamp {
    margin-top: 30px;
    margin-left: 120px;
    border-radius: 100%;
    height: 30px;
    width: 30px;
    background: #cb5a5e;
    opacity: 0.3;
}

.shadow {
    position: absolute;
    top: 200px;
    left: 50%;
    width: 350px;
    height: 30px;
    transition: 0.4s;
    transform: translateX(-50%);
    -webkit-transition: 0.4s;
    -webkit-transform: translateX(-50%);
    -moz-transition: 0.4s;
    -moz-transform: translateX(-50%);
    border-radius: 100%;
    background: radial-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0));
}

.letter-image:hover .animated-mail {
    transform: translateY(50px);
    -webkit-transform: translateY(50px);
    -moz-transform: translateY(50px);
}

.letter-image:hover .animated-mail .top-fold {
    transition: transform 0.4s, z-index 0.2s;
    transform: rotateX(180deg);
    -webkit-transition: transform 0.4s, z-index 0.2s;
    -webkit-transform: rotateX(180deg);
    -moz-transition: transform 0.4s, z-index 0.2s;
    -moz-transform: rotateX(180deg);
    z-index: 0;
}

.letter-image:hover .animated-mail .letter {
    height: 230px;
}

.letter-image:hover .shadow {
    width: 250px;
}

/* - - - - - - - - - - */
/* 讀秘密 */
.popRead {
    position: absolute;
    top: 220%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
}

.popRead>div {
    font-family: monospace;
    border-top-left-radius: 37px 140px;
    border-top-right-radius: 23px 130px;
    border-bottom-left-radius: 110px 19px;
    border-bottom-right-radius: 120px 24px;

    display: block;
    border: solid 3px #6e7491;
    padding: 40px 60px;
    max-width: 800px;
    margin: 100px auto 0;
    font-size: 17px;
    line-height: 28px;
    transform: rotate(-1deg);
    box-shadow: 3px 15px 8px -10px rgba(0, 0, 0, 0.3);
    transition: all 0.13s ease-in;
    background-color: white;
}

.popRead>div:hover {
    transform: translateY(-10px) rotate(1deg);
    box-shadow: 3px 15px 8px -10px rgba(0, 0, 0, 0.3);
}

.popRead>div:hover .readClose {
    transform: translateY(4px) rotate(-5deg);
}

.readClose {
    position: absolute;
    transition: all 0.13s ease-in;
    right: -30px;
    top: -50px;
    font-weight: 600;
    font-size: xx-large;
    padding: 1rem;
}

pre {
    background: #edeff5;
    padding: 20px;
    font-size: 1.5rem;
    color: #6e7491;
}

.float {
    transform: rotateX(51deg) rotateZ(43deg);
    transform-style: preserve-3d;
    border-radius: 32px;
    box-shadow: 1px 1px 0 1px #f9f9fb, -1px 0 28px 0 rgba(34, 33, 81, 0.01), 28px 28px 28px 0 rgba(34, 33, 81, 0.25);
    transition: 0.4s ease-in-out transform, 0.4s ease-in-out box-shadow;

}

.float:hover {
    transform: translate3d(0px, -16px, 0px) rotateX(51deg) rotateZ(43deg);
    box-shadow: 1px 1px 0 1px #f9f9fb, -1px 0 28px 0 rgba(34, 33, 81, 0.01), 54px 54px 28px -10px rgba(34, 33, 81, 0.15);
}

/* 2 */

.wrapper {
    z-index: 99;
    width: 100%;
    height: 100%;
    color: #6e7491;
    font-family: 'Bradley Hand', sans-serif;
}

@import url('https://fonts.cdnfonts.com/css/handwriting');


.scroll-text {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Handwriting', sans-serif;
    white-space: nowrap;
}

.scroll {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Handwriting', sans-serif;
}


.scroll-text span.fl {
    position: relative;
    display: inline-block;
    font-size: 5rem;
    letter-spacing: 1rem;
}