body {
    margin: 0;
    padding: 0;
    font-family: verdana;
}

.smoke h2 span,
.smoke pre span,
.smoke p span {
    letter-spacing: 5px;
    display: inline-block;
}

@keyframes smoke {
    0% {
        transform: rotate(0deg) translateY(0px);
        opacity: 1;
        filter: blur(1px);
    }

    100% {
        transform: rotate(45deg) translateY(-200px);
        opacity: 0;
        filter: blur(20px);
    }
}

@keyframes bg {
    0% {
        background: #edeff5;
    }

    100% {
        background: none;
    }
}