.left {
    float: left;
}

.right {
    float: right;
}

.perspective {
    perspective: 1200px;
    -webkit-perspective: 1200px;
    font-family: arial;
    background: #fff;
    min-height: 80vh;
}

.tardis-wrap {
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;

    transform: translateZ(-300px);
    -webkit-transform: translateZ(-300px);
}

.tardis {
    position: relative;
    width: 200px;
    /* height: 200px; */
    margin: 100px auto;

    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;

    transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;

    transform: rotateX(-20deg) rotateY(-30deg);
    -webkit-transform: rotateX(-20deg) rotateY(-30deg);

    animation-name: spin;
    animation-duration: 20000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform: rotateX(-20deg) rotateY(0deg);
    }

    to {
        transform: rotateX(-20deg) rotateY(360deg);
    }
}

/*
#
# Begin details
#
*/
.tardis .side {
    position: absolute;
    bottom: -230px;
    /*  */
    left: 0px;
    width: 200px;
    height: 180px;
    background-color: #EDD2E0;

    box-shadow: inset 1px 0 0 #B95F89, inset -1px 0 0 #B95F89, inset 0 1px 0 #B95F89, inset 0 -1px 0 #B95F89;

    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    z-index: 1;
}

.side:nth-of-type(1) {
    transform: translateZ(100px);
    -webkit-transform: translateZ(100px);
}

.side:nth-of-type(2) {
    transform: rotateY(90deg) translateZ(100px);
    -webkit-transform: rotateY(90deg) translateZ(100px);
}

.side:nth-of-type(3) {
    transform: rotateY(180deg) translateZ(100px);
    -webkit-transform: rotateY(180deg) translateZ(100px);
}

.side:nth-of-type(4) {
    transform: rotateY(-90deg) translateZ(100px);
    -webkit-transform: rotateY(-90deg) translateZ(100px);
}

/* Floor */
.tardis .floor {
    position: absolute;
    width: 220px;
    height: 220px;
    left: -10px;
    top: 230px;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
}

.floor-lid {
    position: absolute;
    width: 220px;
    height: 220px;
    background-color: #D496A7;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform: rotateX(90deg) translateZ(109px);
    ;
    -webkit-transform: rotateX(90deg) translateZ(109px);
    ;
}

.floor-panel {
    position: absolute;
    width: 220px;
    height: 10px;
    background-color: #D496A7;
    box-shadow: inset 1px 0 0 #B95F89, inset -1px 0 0 #B95F89, inset 0 1px 0 #B95F89, inset 0 -1px 0 #B95F89;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
}

.floor-panel.a {
    transform: rotateY(0deg) translateZ(110px);
    -webkit-transform: rotateY(0deg) translateZ(110px);
}

.floor-panel.b {
    transform: rotateY(90deg) translateZ(110px);
    -webkit-transform: rotateY(90deg) translateZ(110px);
}

.floor-panel.c {
    transform: rotateY(180deg) translateZ(110px);
    -webkit-transform: rotateY(180deg) translateZ(110px);
}

.floor-panel.d {
    transform: rotateY(-90deg) translateZ(110px);
    -webkit-transform: rotateY(-90deg) translateZ(110px);
}

/*
#
# Top sign
#
*/
.side .top-sign {
    width: 180px;
    height: 28px;
    background-color: #A6B1E1;
    border: solid 1px white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .4);
    border-radius: 2px;
    position: absolute;
    top: 10px;
    left: 10px;

    z-index: 10;
}

.top-sign .text {
    background-color: #DEC5E3;
    border: solid 1px white;
    border-radius: 2px;
    width: 100px;
    margin: 3px auto;
    height: 20px;
    color: #fff;
    font-size: 12px;
    line-height: 20px;
    padding: 0px 5px;
    box-shadow: inset 0px 0px 3px rgba(0, 0, 0, .4);
    position: relative;

    text-shadow: 0px 0px 4px rgba(255, 255, 255, .6);
}

.text .tiny {
    font-size: 4px;
    line-height: 6px;
    text-align: center;
    width: 20px;
    position: absolute;
    right: 35px;
    top: 4px;
}

/*
#
# Door frame
#
*/
.side .door-frame {
    position: absolute;
    width: 160px;
    left: 20px;
    top: 35px;
    bottom: 0px;

    background-color: #A6B1E1;

    box-shadow: inset 0px 2px 8px rgba(0, 0, 0, .5);

    z-index: 5;
}

/* Window */
.door .window {
    position: absolute;
    left: 10px;
    bottom: 0px;

    width: 140px;
    height: 130px;
    background-color: #B95F89;
}

.window .pane {
    width: 135px;
    height: 100px;
    background-color: #dfe7fc;
    float: left;
    margin: 3px;
    box-shadow: inset 0px 0px 10px #fff;
}

.secretBtn {
    background-color: var(--colorYellow);
    font-size: x-large;
    color: white;
    padding: 0.2rem 1rem;
    border: #B95F89 3px solid;
    border-radius: 15px;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}