body {
    margin: 0;
    padding: 0;
    font-family: verdana;
}

.smoke h2 span,
.smoke pre span,
.smoke p span {
    /* font-weight: bold; */
    letter-spacing: 5px;
    /* filter: blur(1px); */
    /* color: #fff; */
    display: inline-block;
}


/* .smoke h2:hover span, */
/* .smoke pre:hover span, */
/* .smoke p:hover span, */
.popRead:hover span {
    animation: smoke 2s linear forwards;
}


@keyframes smoke {
    0% {
        transform: rotate(0deg) translateY(0px);
        opacity: 1;
        filter: blur(1px);
    }

    100% {
        transform: rotate(45deg) translateY(-200px);
        opacity: 0;
        filter: blur(20px);
    }
}

.smoke h2 span:nth-child(1),
.smoke pre span:nth-child(1),
.smoke p span:nth-child(1) {
    animation-delay: 0s
}

.smoke h2 span:nth-child(2),
.smoke pre span:nth-child(2),
.smoke p span:nth-child(2) {
    animation-delay: .2s
}

.smoke h2 span:nth-child(3),
.smoke pre span:nth-child(3),
.smoke p span:nth-child(3) {
    animation-delay: .4s
}

.smoke h2 span:nth-child(4),
.smoke pre span:nth-child(4),
.smoke p span:nth-child(4) {
    animation-delay: 0.6s
}

.smoke h2 span:nth-child(5),
.smoke pre span:nth-child(5),
.smoke p span:nth-child(5) {
    animation-delay: 0.8s
}

.smoke h2 span:nth-child(6),
.smoke pre span:nth-child(6),
.smoke p span:nth-child(6) {
    animation-delay: 1.0s
}


.smoke h2 span:nth-child(7),
.smoke pre span:nth-child(7),
.smoke p span:nth-child(7) {
    animation-delay: 1.2s
}


.smoke h2 span:nth-child(8),
.smoke pre span:nth-child(8),
.smoke p span:nth-child(8) {
    animation-delay: 1.4s
}


.smoke h2 span:nth-child(8),
.smoke pre span:nth-child(8),
.smoke p span:nth-child(8) {
    animation-delay: 1.6s
}


.smoke h2 span:nth-child(9),
.smoke pre span:nth-child(9),
.smoke p span:nth-child(9) {
    animation-delay: 1.8s
}


.smoke h2 span:nth-child(10),
.smoke pre span:nth-child(10),
.smoke p span:nth-child(10) {
    animation-delay: 2.0s
}