.left {
    float: left;
}

.right {
    float: right;
}

.perspective {
    perspective: 1200px;
    -webkit-perspective: 1200px;
    font-family: arial;
    background: #fff;
    min-height: 80vh;
}

.tardis-wrap {
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;

    transform: translateZ(-300px);
    -webkit-transform: translateZ(-300px);
}

.tardis {
    position: relative;
    width: 200px;
    margin: 100px auto;

    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;

    transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;

    transform: rotateX(-20deg) rotateY(-30deg);
    -webkit-transform: rotateX(-20deg) rotateY(-30deg);

    animation-name: spin;
    animation-duration: 40000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform: rotateX(-20deg) rotateY(0deg);
    }

    to {
        transform: rotateX(-20deg) rotateY(360deg);
    }
}

/*
#
# Begin details
#
*/
.tardis .side {
    position: absolute;
    bottom: -230px;

    left: 0px;
    width: 200px;
    height: 180px;
    /* background-color: #EDD2E0; */
    /* background-clip: text; */

    /* box-shadow: inset 10px 0 0 #B95F89, inset -10px 0 0 #B95F89, inset 0 10px 0 #B95F89, inset 0 -10px 0 #B95F89; */
    box-shadow: inset 20px 0 0 #EDD2E0, inset -20px 0 0 #EDD2E0, inset 0 10px 0 #EDD2E0, inset 0 -10px 0 #EDD2E0;

    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    z-index: 1;
}

.side:nth-of-type(1) {
    transform: translateZ(100px);
    -webkit-transform: translateZ(100px);
}

.side:nth-of-type(2) {
    transform: rotateY(90deg) translateZ(100px);
    -webkit-transform: rotateY(90deg) translateZ(100px);
}

.side:nth-of-type(3) {
    transform: rotateY(180deg) translateZ(100px);
    -webkit-transform: rotateY(180deg) translateZ(100px);
}

.side:nth-of-type(4) {
    transform: rotateY(-90deg) translateZ(100px);
    -webkit-transform: rotateY(-90deg) translateZ(100px);
}

/* Floor */
.tardis .floor {
    position: absolute;
    width: 220px;
    height: 220px;
    left: -10px;
    top: 230px;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
}

.floor-lid {
    position: absolute;
    width: 220px;
    height: 220px;
    background-color: #D496A7;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform: rotateX(90deg) translateZ(109px);
    ;
    -webkit-transform: rotateX(90deg) translateZ(109px);
    ;
}

.floor-panel {
    position: absolute;
    width: 220px;
    height: 10px;
    background-color: #D496A7;
    box-shadow: inset 1px 0 0 #B95F89, inset -1px 0 0 #B95F89, inset 0 1px 0 #B95F89, inset 0 -1px 0 #B95F89;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
}

.floor-panel.a {
    transform: rotateY(0deg) translateZ(110px);
    -webkit-transform: rotateY(0deg) translateZ(110px);
}

.floor-panel.b {
    transform: rotateY(90deg) translateZ(110px);
    -webkit-transform: rotateY(90deg) translateZ(110px);
}

.floor-panel.c {
    transform: rotateY(180deg) translateZ(110px);
    -webkit-transform: rotateY(180deg) translateZ(110px);
}

.floor-panel.d {
    transform: rotateY(-90deg) translateZ(110px);
    -webkit-transform: rotateY(-90deg) translateZ(110px);
}

/*
#
# Top sign
#
*/
.side .top-sign {
    width: 180px;
    height: 28px;
    background-color: #A6B1E1;
    border: solid 1px white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .4);
    border-radius: 2px;
    position: absolute;
    top: 10px;
    left: 10px;

    z-index: 10;
}

.top-sign .text {
    background-color: #DEC5E3;
    border: solid 1px white;
    border-radius: 2px;
    width: 100px;
    margin: 3px auto;
    height: 20px;
    color: #fff;
    font-size: 12px;
    line-height: 20px;
    padding: 0px 5px;
    box-shadow: inset 0px 0px 3px rgba(0, 0, 0, .4);
    position: relative;

    text-shadow: 0px 0px 4px rgba(255, 255, 255, .6);
}

.text .tiny {
    font-size: 4px;
    line-height: 6px;
    text-align: center;
    width: 20px;
    position: absolute;
    right: 35px;
    top: 4px;
}

/*
#
# Door frame
#
*/
.side .door-frame {
    position: absolute;
    width: 160px;
    left: 20px;
    top: 35px;
    bottom: 0px;

    background-color: #A6B1E1;

    box-shadow: inset 0px 2px 8px rgba(0, 0, 0, .5);

    z-index: 5;
    background-clip: text;
}

/* Window */
.door .window {
    position: absolute;
    left: -20px;
    bottom: 0px;

    width: 200px;
    height: 25px;
    background-color: #B95F89;
}

.window .pane {
    width: 130px;
    height: 100px;
    /* background-color: #dfe7fc; */
    float: left;
    position: absolute;
    top: -110px;
    left: 30px;
    border: 5px solid rgb(185, 95, 137, 0.5);
    box-shadow: inset 0px 0px 10px #fff;
}

.secretBtn {
    position: relative;
    color: white;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    transition: all 0.2s ease;
    padding: 12px 20px;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.secretBtn:before {
    content: "";
    position: absolute;
    top: -0.5rem;
    left: 0;
    display: block;
    border-radius: 28px;
    background: #D496A7;
    width: 56px;
    height: 56px;
    transition: all 0.3s ease;
    border: white 1px solid;
}

.secretBtn span {
    position: relative;
    z-index: 1;
}

.secretBtn svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: white;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}

.secretBtn:hover:before {
    width: 100%;
    background: #D496A7;
}

.secretBtn:hover svg {
    transform: translateX(0);
}

.secretBtn:hover,
.secretBtn:focus {
    color: white;
}

.secretBtn:active {
    color: white;
    transform: scale(0.96);
}