.ad {
    margin-left: 2.5rem;
    margin-top: 1.25rem;
}

.ad a {
    display: block;
    margin-bottom: 0.75rem;
}

.adPic {
    width: 13.125rem;
    height: 7.5rem;
    border-radius: 1rem;
    object-fit: cover;
}

.adLook {
    color: white;
    position: absolute;
    margin-top: -40px;
    margin-left: 115px;
    width: fit-content;
    padding: 0.25rem;
    border-radius: var(--radius);
    background-color: rgb(254, 167, 173, 0.5);
}

.adLook img {
    height: 1rem;
    vertical-align: text-bottom;
}

/* - - - - - - - - - - */

.voteTopic img {
    width: 3.75rem;
    height: 3.75rem;
    object-fit: cover;
    vertical-align: middle;
}

.vote {
    background-color: white;
    margin: 0.5rem;
    padding: 1.5rem 0.5rem;
    text-align: center;
    border-radius: var(--radius);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.voteTitle {
    width: 100%;
    color: var(--colorRed);
    font-size: 1.25rem;
    font-weight: bold;
    border-radius: var(--radius);
}

.choice:focus {
    outline: 0;
    border-color: #2260ff;
    box-shadow: 0 0 0 4px #b5c9fc;
}

.choice div {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
    justify-content: center;
}

.choice label {
    width: 50%;
}

.choice input[type="radio"] {
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.choice input[type="radio"]:checked+span {
    box-shadow: 0 0 0 0.0625em #0043ed;
    background-color: #dee7ff;
    z-index: 1;
    color: #0043ed;
}

.choice span {
    cursor: pointer;
    background-color: #fff;
    padding: 0.375em .75em;
    position: relative;
    margin-left: .0625em;
    box-shadow: 0 0 0 0.0625em #b5bfd9;
    letter-spacing: .05em;
    color: #3e4963;
    text-align: center;
    transition: background-color .5s ease;

    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.15rem;
}

.choice label:first-child span {
    border-radius: .375em 0 0 .375em;
}

.choice label:last-child span {
    border-radius: 0 .375em .375em 0;
}

.vote img {
    margin-top: 1rem;
    width: 45%;
    border-radius: var(--radius);
    padding: 0.1rem;
}

/* - - - - - - - - - - */

.tag {
    display: inline-block;
    margin-left: 1.5rem;
    margin-bottom: 1.25rem;
}

.tag button {
    height: 2.375rem;
    font-size: 1rem;
    border-radius: var(--radius);
    border: none;
    color: white;
    margin-right: 0.625rem;
    margin-bottom: 0.25rem;
    background-color: var(--colorPink300);
}

.tag button:active {
    transform: scale(0.96);
}

/* - - - - - - - - - - */

.rule li {
    font-size: 1rem;
    color: var(--colorGray300);
    width: 90%;
}