body {
    margin: 0;
    padding: 0;
}

#container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* justify-content: center;
    align-items: center; */
}

header {
    width: 100%;
    z-index: 99;
    position: fixed;
    min-height: 80px;
    top: 0;
    /* background-color: lightyellow; */
}

.nav {
    height: 80px;
    width: 100%;
}

:root {
    --colorPurple: #C8B2D6;
    --colorPink100: #FDF5F3;
    --colorPink200: #F9E1DF;
    --colorPink300: #FEA7AD;
    --colorRed: #F08170;
    --colorYellow: #E7C65B;
    --colorGray100: #D9D9D9;
    --colorGray200: #9E9E9E;
    --colorGray300: #62666C;

    --circle: 50px;
    --radius: 6px;
}

/* - - - - - - - - - - */

.QuillEditor {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.QuillEditor>div {
    width: 80%;
}

.quillTitle {
    margin-top: 2rem;
}

.quillContent {
    height: 450px;
    margin-bottom: 3rem;
}

.upBtn,
.reBtn {
    align-items: center;
    background-color: #fee6e3;
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
    display: flex;
    font-family: Inter, sans-serif;
    font-size: 16px;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    float: right;
    margin: 0.5rem;
}

.reBtn {
    background-color: var(--colorGray100);
}

.upBtn:after,
.reBtn:after {
    background-color: var(--colorGray300);
    border-radius: 8px;
    content: "";
    display: block;
    height: 48px;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    transition: transform .2s ease-out;
    z-index: -1;
}

.upBtn:hover:after,
.reBtn:hover:after {
    transform: translate(0, 0);
}

.upBtn:active,
.reBtn:active {
    background-color: #ffdeda;
    outline: 0;
}

.upBtn:hover,
.reBtn:hover {
    outline: 0;
}

@media (min-width: 768px) {

    .upBtn,
    .reBtn {
        padding: 0 40px;
    }
}