body {
    margin: 0;
    padding: 0;
}

#container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* justify-content: center;
    align-items: center; */
}

header {
    width: 100%;
    z-index: 99;
    position: fixed;
    min-height: 80px;
    top: 0;
    /* background-color: lightyellow; */
}

.nav {
    height: 80px;
    width: 100%;
}

:root {
    --colorPurple: #C8B2D6;
    --colorPink100: #FDF5F3;
    --colorPink200: #F9E1DF;
    --colorPink300: #FEA7AD;
    --colorRed: #F08170;
    --colorYellow: #E7C65B;
    --colorGray100: #D9D9D9;
    --colorGray200: #9E9E9E;
    --colorGray300: #62666C;

    --circle: 50px;
    --radius: 6px;
}

/* - - - - - - - - - - */

.upBtn,
.reBtn {
    font-size: large;
    padding: 0.1rem 0.75rem;
    border-radius: var(--radius);
    margin: 0.5rem;
}

.upBtn {
    color: var(--colorPurple);
    border: none;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.reBtn {
    color: var(--colorGray200);
    border: none;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.quill-editor {
    height: 500px;
    margin-bottom: 50px;
}