.ProfileContainer {
    display: flex;
    flex-direction: column;
    align-items: left;
    min-height: 37.5rem;
    /* 600px / 16px = 37.5rem */
    /* background-color: ghostwhite; */
    width: 49.0625rem;
    margin: 10px;
    padding: 0px;
}

.ProfileContainer h2 {
    margin-left: 40px;
}

.ProfileContainer hr {
    margin: 0px;
    width: 100%;
}


.ProfileForm {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 10px;
    margin-bottom: 20px;
    display: block;
    font-size: 16px;

}

.ProfileForm hr {
    margin-top: 0px;
    padding: 0px;
    width: 100%;
}

.profilePic {
    display: flex;
    justify-content: space-between;
    /* 水平方向均匀分布 */
    align-items: center;
    /* 垂直居中 */
    margin-bottom: 0px;
    margin-top: 0px;
    /* background-color: aqua; */
}


.profilePic label {
    /* background-color: brown; */
    width: 100px;
    margin-right: 10px;
    /* 添加右边距 */
}

.editBtn {
    margin-left: px;
    width: 78px;
    height: 28px;
    flex-shrink: 0;
    border-radius: 14px;
    border: none;
    background: var(--pink-300, #FEA7AD);
    color: white;

}



.profileuserName {
    display: flex;
    justify-content: space-between;
    /* 水平方向均匀分布 */
    align-items: center;
    /* 垂直居中 */
    margin-bottom: 0px;
    margin-top: 0px;
    /* background-color: aqua; */
}

.profileuserName label {

    /* background-color: brown; */
    width: 100px;
    margin-right: 10px;
    /* 添加右边距 */
    margin-top: 20px;
    margin-bottom: 20px;
}

.ProfileForm input {
    border-radius: 5px;
    height: 36px;
    width: 300px;
    border: none;
}

.UserDeclaration {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px;
    margin-top: 0px;
    /* background-color: aqua; */
}

.UserDeclaration label {
    /* background-color: brown; */
    width: 100px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.proflieEmail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px;
    margin-top: 0px;
    /* background-color: aqua; */
}

.proflieEmail label {
    /* background-color: brown; */
    width: 100px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.profileidNumber {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px;
    margin-top: 0px;
    /* background-color: aqua; */
}

.profileidNumber label {
    /* background-color: brown; */
    width: 100px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.profilephoneNumber {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px;
    margin-top: 0px;
    /* background-color: aqua; */
}

.profilephoneNumber label {
    /* background-color: brown; */
    width: 100px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.saveBtn {
    margin-left: 20px;
    width: 78px;
    height: 28px;
    flex-shrink: 0;
    border-radius: 14px;
    border: none;
    background: var(--yellow, #E7C65B);
    color: white;
}

.saveBtn:focus {
    outline: none;
}

.ProfileForm input[type="text"],
.ProfileForm input[type="email"],
.ProfileForm input[type="tel"] {
    border-radius: 5px;
    height: 36px;
    width: 300px;
    border: none;
}

/* - - - - - - - - - - */