body {
    margin: 0;
    padding: 0;
}

#container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

section {
    width: 260px;
    min-height: 920px;
}

article {
    width: 806px;
    min-height: 920px;
}

:root {
    --colorPurple: #C8B2D6;
    --colorPink100: #FDF5F3;
    --colorPink200: #F9E1DF;
    --colorPink300: #FEA7AD;
    --colorRed: #F08170;
    --colorYellow: #E7C65B;
    --colorGray100: #D9D9D9;
    --colorGray200: #9E9E9E;
    --colorGray300: #62666C;

    --circle: 50px;
    --radius: 6px;
}

/* - - - - - - - - - - */

article {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

article a {
    text-decoration: none;
}

.search {
    width: 49.0625rem;
    height: 5.375rem;
    border: 2px solid var(--colorPink100);
    display: flex;
    margin-top: 1.25rem;
    align-items: center;
    border-radius: 1rem;
    justify-content: flex-start;
    background-color: var(--colorPink200);
}

.search img {
    width: 2.875rem;
    margin-left: 1.25rem;
    border-radius: var(--circle);
}

.search input {
    width: 36.0625rem;
    height: 2.875rem;
    border: none;
    font-size: 0.875rem;
    margin-left: 1.25rem;
    border-radius: var(--radius);
}

.search button {
    color: white;
    border: none;
    padding: 0.8125rem 1rem;
    font-size: 0.875rem;
    margin-left: 0.875rem;
    border-radius: var(--radius);
    background-color: var(--colorYellow);
}

/* - - - - - - - - - - */
.section {
    margin-left: 2.5rem;
    margin-top: 1.25rem;
}

.section a {
    display: block;
    margin-bottom: 0.75rem;
}

.adPic {
    width: 13.125rem;
    height: 7.5rem;
    border-radius: 1rem;
    object-fit: cover;
}

.adLook {
    color: white;
    position: absolute;
    margin-top: -40px;
    margin-left: 115px;
    width: fit-content;
    padding: 0.25rem;
    border-radius: var(--radius);
    background-color: rgb(254, 167, 173, 0.5);
}

.adLook img {
    height: 1rem;
    vertical-align: text-bottom;
}