body {
    margin: 0;
    padding: 0;
}

#container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* justify-content: center;
    align-items: center; */
}

header {
    width: 100%;
    z-index: 99;
    position: fixed;
    min-height: 80px;
    top: 0;
    /* background-color: lightyellow; */
}

.nav {
    height: 80px;
    width: 100%;
}

.ck-editor__editable {
    min-height: 70vh;
}

:root {
    --colorPurple: #C8B2D6;
    --colorPink100: #FDF5F3;
    --colorPink200: #F9E1DF;
    --colorPink300: #FEA7AD;
    --colorRed: #F08170;
    --colorYellow: #E7C65B;
    --colorGray100: #D9D9D9;
    --colorGray200: #9E9E9E;
    --colorGray300: #62666C;

    --circle: 50px;
    --radius: 6px;
}

/* - - - - - - - - - - */

.upBtn,
.reBtn {
    font-size: large;
    padding: 5px 10px;
    background-color: white;
    border-radius: 10px;
    float: right;
    margin: 5px;
    color: darkgray;
}

.upBtn {
    border: 1px solid darkseagreen;
}

.reBtn {
    border: 1px solid salmon;
}